rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Les chauffeurs peuvent lire leurs propres données
    match /chauffeurs/{userId} {
      allow read, update: if request.auth.uid == userId;
    }

    // Pour l'instant, on bloque tout le reste en attendant les règles détaillées
    match /sessions/{sessionId} {
      // Les chauffeurs authentifiés peuvent créer leurs sessions et lire/mettre à jour
      allow create: if request.auth != null && request.resource.data.chauffeur_id == request.auth.uid;
      allow read: if request.auth != null && resource.data.chauffeur_id == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.chauffeur_id == request.auth.uid;
    }

    match /courses/{courseId} {
      // Les chauffeurs authentifiés peuvent créer et lire leurs propres courses
      allow create: if request.auth != null && request.resource.data.chauffeur_id == request.auth.uid;
      allow read: if request.auth != null && resource.data.chauffeur_id == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.chauffeur_id == request.auth.uid;
    }
  }
}